.tCenter{
    text-align: center;
}
.vCenter{
    display: flex;
    align-items: center;
}
.gridInstaFeed{
    margin-top: 5%;
}

.ulRS{
    list-style-type: none;
}
.ulRS a{
    text-decoration: none;
}
.white{
    color: white;
}

/* Fonts */
@font-face {
    font-family: 'Robusta Demo';
    src: url('../fonts/Robusta Demo.eot');
    src: url('../fonts/Robusta Demo.woff2') format('woff2'),
    url('../fonts/Robusta Demo.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/RobustaDemo.woff') format('woff'),
    url('../fonts/RobustaDemo.ttf') format('truetype'),
    url('../fonts/RobustaDemo.svg#RobustaDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Image Hover Effect */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 5%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.hovereffect a {
    border: solid white 2px;
    padding: 1em 1.2em;
    border-radius: 0.7em;
    transition: ease all 0.5s;
    text-decoration: none;
    font-weight: bold;
}
.hovereffect a:hover {
    background-color: white;
    color: #333;
}